name: Nightly PDF Build

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Typst
        uses: typst-community/setup-typst@v4

      - name: Compile Typst Document
        run: typst compile writing-rec-letters.typ

      - name: Update Nightly Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') != true # Ensure we don't trigger on other tags
        with:
          tag_name: nightly
          name: Nightly Build
          body: "Automatic build from commit ${{ github.sha }}."
          files: writing-rec-letters.pdf
          prerelease: true
          make_latest: true
